<section class="catalog-search">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<input id="input-search" placeholder="Поиск по сайту">
				</div>
				<div class="col-lg-3">
					<button class="button-search">Найти</button>
				</div>
			</div>
		</div>
	</section>

	<section class="catalog-filters">
		<div class="container catalog-filters">
			<h2>ЧТО ИЩЕТЕ?</h2>

			<div class="cl-lg-12 filters-wrapper">
				<div>
					<span>Тип заведения:</span>
					<select id="catalog-filter-1">
						<option value="default" selected dissabled hidden>Не выбрано</option>
							<!--СТЕРЕТЬ-->
							<option value="default">Не выбрано</option>
							<option value="Барбершоп">Барбершоп</option>
							<option value="Салон красоты">Салон красоты</option>
							<!--СТЕРЕТЬ-->
						{{#each catalogFilterArray1}}
							<!--<option value="{{@index}}">{{this}}</option>--> 
						{{/each}}
					</select>
					<span>Вид деятельности:</span>
					<select id="catalog-filter-2">
						<option value="default" selected dissabled hidden>Не выбрано</option>
						<!--СТЕРЕТЬ-->
							<option value="default">Не выбрано</option>
							<option value="Уход за волосами">Уход за волосами</option>
							<option value="Массаж">Массаж</option>
						<!--СТЕРЕТЬ-->
						{{#each catalogFilterArray2}}
							<!--<option value="{{@index}}">{{this}}</option>-->
						{{/each}}
					</select>
				</div>
				<button class="button-search" id="button-filter-catalog">ФИЛЬТРОВАТЬ</button>
			 </div>

		</div>
	</section>

	<section class="catalog-results">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h2>Результаты</h2>
				</div>
				<div class="col-lg-6">
					<select id="sort-select">
						<option value="default" selected hidden>Сортировать</option>
						<option value="sortByRating" id="sort-rating-onion">По возрастанию рейтинга</option>
						<option value="sortByRatingDesc" id="sort-rating-onion">По убыванию рейтинга</option>
						<option value="sortByName" id="sort-name-onion">По возрастанию наименования</option>
						<option value="sortByNameDesc" id="sort-name-onion">По убыванию наименования</option>
			  		</select>
				</div>
			</div>
			<div class="row" id="catalog">
				{{#each salonData}}
				<div class="col-lg-6">
					<div class="popular-item">
						<div class="popular-item-photo">
							<img src="img/popular-item.jpg">
							<p>Рейтинг: {{this.rating}}/5</p>
						</div>
						<div class="popular-item-desc">
							<h5><b>{{this.name}}</b></h5>
							<div class="popular-item-desc-text">
								<p style="color: #A7A7A7">{{this.typeofSalon}}/{{this.occupation}}</p>
								<br>
								<p>{{this.address}}</p>
								<p>{{this.phoneNumber}}</p>
								<br>
								<p>{{this.schedule}}</p>
								<br>
								<p>{{this.link}}</p>
								<br>
							</div>
							<button>ЗАПИСАТЬСЯ</button>
						</div>
					</div>
				</div>
				{{else}}
					<h2>Салоны не найдены</h2>
				{{/each}}
			</div>
		</div>
	</section>
	