<section class="catalog-search">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<input id="input-search" placeholder="Поиск по сайту">
				</div>
				<div class="col-lg-3">
					<button id="button-search">Найти</button>
				</div>
			</div>
		</div>
	</section>

	<section class="catalog-filters">
		<div class="container catalog-filters">
			<h2>ЧТО ИЩЕТЕ?</h2>

			<div class="cl-lg-12 filters-wrapper">
				<div>
					<select>
						<option value="" selected disabled hidden>Фильтр 1</option>
						<option value="Undefined">Undefined 1</option>
						<option value="saab">Undefined 2</option>
					</select>
					<select>
						<option value="" selected disabled hidden>Фильтр 2</option>
						<option value="Undefined">Undefined 1</option>
						<option value="saab">Undefined 2</option>
					</select>
					<select>
						<option value="" selected disabled hidden>Фильтр 3</option>
						<option value="Undefined">Undefined 1</option>
						<option value="saab">Undefined 2</option>
					</select>
				</div>
				<button id="button-search">ФИЛЬТРОВАТЬ</button>
			 </div>

		</div>
	</section>

	<section class="catalog-results">
		<div class="container">
			<div class="row" id="catalog">
				<div class="col-lg-6">
					<h2>Результаты</h2>
				</div>
				<div class="col-lg-6">
					<select id="sort-select">
						<option value="" selected disabled hidden>Сортировка по</option>
						<option value="sortByRating" id="sort-rating-onion">Рейтингу</option>
						<option value="sortByName" id="sort-name-onion">Названию</option>
			  		</select>
				</div>
				{{#each salonData}}
				<div class="col-lg-6">
					<div class="popular-item">
						<div class="popular-item-photo">
							<img src="img/popular-item.jpg">
							<p>Рейтинг: {{this.rating}}/5</p>
						</div>
						<div class="popular-item-desc">
							<h5><b>{{this.name}}</b></h5>
							<div class="popular-item-desc-text">
								<p style="color: #A7A7A7">{{this.typeofSalon}}/{{this.occupation}}</p>
								<br>

								<p>{{this.scheldule}}</p>
								<p>{{this.phoneNumber}}</p>
							
								<br>
								<p>{{this.link}}</p>
								<br>
							</div>
							<button>ЗАПИСАТЬСЯ</button>
						</div>
					</div>
				</div>
				{{else}}
    				<h2>Салоны не найдены</h2>
				{{/each}}
			</div>
		</div>
		<script>
			$(document).ready(function() {
				renderCatalog(temp);
			});
		</script>
	</section>
	