<section class="popular">
		<div class="container">
			<h2>ПОПУЛЯРНОЕ</h2>
			<div class="row" id="catalog">
				{{#each salonData}}
				<div class="col-lg-6">
					<div class="popular-item">
						<div class="popular-item-photo">
							<img src="img/popular-item.jpg">
							<p>Рейтинг: {{this.rating}}/5</p>
						</div>
						<div class="popular-item-desc">
							<h5><b>{{this.name}}</b></h5>
							<div class="popular-item-desc-text">
								<p style="color: #A7A7A7">{{this.typeofSalon}}/{{this.occupation}}</p>
								<br>
								<p>{{this.address}}</p>
								<p>{{this.phoneNumber}}</p>
								<br>
								<p>{{this.schedule}}</p>
								<br>
								<p>{{this.link}}</p>
								<br>
							</div>
							<button>ЗАПИСАТЬСЯ</button>
						</div>
					</div>
				</div>
				{{else}}
					<h2>Салоны не найдены</h2>
				{{/each}}
			</div>
		</div>
	</section>




	
	<section class="advantages">
		<div class="container text-center">
			<h2>ПОЧЕМУ МЫ ТАКИЕ КЛАССНЫЕ</h2>
			<div class="row">
				<div class="col-lg-4 col-md-6 advantage-item">
					<img src="/img/advantage.jpg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
				</div>
				<div class="col-lg-4 col-md-6 advantage-item">
					<img src="/img/advantage.jpg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
				</div>
				<div class="col-lg-4 col-md-6 advantage-item">
					<img src="/img/advantage.jpg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
				</div>
				<div class="col-lg-4 col-md-6 advantage-item">
					<img src="/img/advantage.jpg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
				</div>
				<div class="col-lg-4 col-md-6 advantage-item">
					<img src="/img/advantage.jpg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
				</div>
				<div class="col-lg-4 col-md-6 advantage-item">
					<img src="/img/advantage.jpg">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
				</div>
			</div>
		</div>
	</section>


	<section class="advert">
		<img src="/img/advert.jpg">
	</section>